<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
<script src="./../system/requires/jquery-confirm.min.js"></script>

<script type="text/javascript">


    function askQuestion(customAlert, setTemplate){
    
        $.confirm({
            title: 'Şablonu değiştir',
            icon : 'fa fa-info-circle',
            content : 'Bu bilgisayarda herhangi bir kullanıcı için şablonu sabitle',
            autoClose: 'Cancel|10000',
            theme : 'supervan',
            closeIcon: true,
            animation: 'scale',
            type: 'blue',
            draggable:'true',
            buttons:{
                'Confirm' : {
                    text: 'modern şablon',
                    action : function(){
                      this.close();
                      set("modern");
                    }
                },
                'Continue' : {
                    text: 'varsayılan şablon',
                    action : function(){
                      this.close();
                      set("default")
                    }
                },
                'Cancel': {
                    text: 'Vazgeç',
                    keys : ['esc'],
                    action: function(){
                        this.close();
                        canceled();
                    }
                }
            },
            close: function () {;
              $('.jconfirm').hide();
              $('.jconfirm').remove();
                canceled();
            }
        });
    
        function set(template) { 
            setTemplate(template, function(result){
                if (result)
                    window.location.replace("./" + template + ".html");   
                else {
                    customAlert();
                }
            });
                 
        };
  
        //$.confirm.hide();
    };
    
    function canceled() { 
      var scope = angular.element(document.getElementById('rootBody')).scope();
      scope.setNav();
      window.location.replace("#!/");
    };

</script>
    
            